:root {
  --primary: #1f77d4;

  --fg: #eee;
  --bg: #1c2128;
  --header-bg: #262728;
  --page-bg: #262728;
  --grid-bg: #1a1b1c;
  --code-bg: none /*#2e2a31;*/
  --border-color: #333;
  --link-color: var(--primary);
  --backlink-color: var(--primary);
  --active-link-background-color: #444;
  --shadow-color: rgba(0, 0, 0, 0.2);
}
